


<!--<button type="submit">Сохранить игру</button>

{{#if addCalcButtonSet}}
    <table>
        <tbody>
            <tr>
                <td>
                    <input type="button" data-button="button0" value="0">
                </td>
                <td>
                    <input type="button" data-button="button1" value="1">
                </td>
                <td>
                    <input type="button" data-button="button2" value="2">
                </td>
                <td>
                    <input type="button" data-button="button3" value="3">
                </td>
                <td>
                    <input type="button" data-button="button4" value="4">
                </td>

            </tr>
            <tr>
                <td>
                    <input type="button" data-button="button5" value="5">
                </td>
                <td>
                    <input type="button" data-button="button6" value="6">
                </td>
                <td>
                    <input type="button" data-button="button7" value="7">
                </td>
                <td>
                    <input type="button" data-button="button8" value="8">
                </td>
                <td>
                    <input type="button" data-button="button9" value="9">
                </td>

            </tr>
            <tr>
                <td>
                    <input type="button" data-button="button/" value="/">
                </td>
                <td>
                    <input type="button" data-button="buttonX" value="X">
                </td>
            </tr>
        </tbody>
    </table>
{{/if}}
-->