
<div class="resultTable__row">
    <div class="resultTable__cell is-border-cell">Имя</div>
    <div class="resultTable__cell">
        <span class="resultTable__cellContent">1</span>
    </div>
    <div class="resultTable__cell">
        <span class="resultTable__cellContent">2</span>
    </div>
    <div class="resultTable__cell">
        <span class="resultTable__cellContent">3</span>
    </div>
    <div class="resultTable__cell">
        <span class="resultTable__cellContent">4</span>
    </div>
    <div class="resultTable__cell">
        <span class="resultTable__cellContent">5</span>
    </div>
    <div class="resultTable__cell">
        <span class="resultTable__cellContent">6</span>
    </div>
    <div class="resultTable__cell">
        <span class="resultTable__cellContent">7</span>
    </div>
    <div class="resultTable__cell">
        <span class="resultTable__cellContent">8</span>
    </div>
    <div class="resultTable__cell">
        <span class="resultTable__cellContent">9</span>
    </div>
    <div class="resultTable__cell">
        <span class="resultTable__cellContent">10</span>
    </div>
    <div class="resultTable__cell is-border-cell">Общие</div>
</div>
{{#each players}}
    <div class="resultTable__row">
        {{{this}}}
    </div>
{{/each}}
