//colors
$background-color: #fff;
$button-success: #91cf26;
$text-color: #333;
$border-color: #f85d49;


//sizes
$border-radius-big: 6px;
$border-radius-small: 4px;

$table-cell-result-width: 30px;
$table-cell-result-height: 30px;

//fonts
$font-family: 'Open Sans', sans-serif, Arial;

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
